

{# <div class="m-2 p-2">
    External accounts connected to Life Monitor.
</div> #}

<div class="card-header">
    <h3 class="card-title"><b>Connected accounts</b></h3>
</div>

<div class="card-body p-1 table-responsive">    
    <table class="table table-striped table-hover">
                    <div class="text-muted small mt-2" style="font-size: 0.7em;">
    </table>
</div>

{% if passwordForm %}
<br/><br/>
<div class="card-header">
    <h3 class="card-title"><b>Change Password</b></h3>
</div>

<div class="card-body">
    <div class="text-muted pt-2 pb-2">
    You{% if not current_user.has_password %} do not{% endif %}
    have a password set for your account. Use the form below to
    {% if not current_user.has_password %}set{% endif %}
    {% if current_user.has_password %}update{% endif %}
    your password.
    </div>
    <form method="POST" action="{{ url_for('auth.set_password') }}" >
    {{ passwordForm.hidden_tag() }}
    <div class="form-group">
        <label for="Password" class="col-form-label">Password</label>
        {{ macros.render_custom_field(passwordForm.password) }}
    </div>
    <div class="form-group">
        <label for="Repeat Password" class="col-form-label">Repeat password</label>
        {{ macros.render_custom_field(passwordForm.repeat_password) }}
    </div>
    <div class="form-group pt-5 text-center">
        <button type="submit" class="btn btn-primary text-bold" style="width: 175px">Update</button>
    </div>
    </form>
</div>
{% endif %}

<div class="card-header">
    <h3 class="card-title"><b>Delete Account</b></h3>
</div>

<div class="card-body">
    <div class="text-muted pt-2 pb-2">
        {%if current_user.workflows|length == 0%}
        No workflow associated with your account.
        {%else%}
        Your account is associated with {{current_user.workflows|length}} 
        workflow{%if current_user.workflows|length>1%}s{%endif%}.<br>
        If you delete your account, all your workflows will be deleted 
        and you will not be able to recover them.
        {%endif%}
    </div>
    <form id="deleteAccount" method="POST" action="{{ url_for('auth.delete_account') }}" >
    {{ passwordForm.hidden_tag() }}
    <div class="form-group pt-5 text-center">
        <button type="button" onclick="deleteAccount()"
                class="btn btn-danger text-bold" style="width: 175px">
                Delete your account
        </button>
    </div>
    </form>
</div>

<script>
    function disconnect(providerName, providerClientName){
        showInputDialog({
            //image: 'logo',
            iconClass: "fas fa-unlink",
            question: `Disconnect <br> '${providerName}' identity?`,
            description: `Your <b>'${providerName}'</b> identity will be disconnected <br>from your account. Are you sure you want to continue?`,
            confirmText: "Disconnect",
            cancelText: "Cancel",
            onConfirm: function(){
                document.location.href = `/oauth2/logout/${providerClientName}`;
            }
        });
    }
    
    function deleteAccount(){
        showInputDialog({
            //image: 'logo',
            iconClass: "fas fa-user-alt-slash",
            question: `Delete your account?`,
            description: `Your <b>'{{current_user.username}}'</b> account and 
            {%if current_user.workflows|length == 1%} your workflow
            {%elif current_user.workflows|length > 1 %} your <em>{{current_user.workflows|length}} workflows</em>
            {%endif%} will be deleted. <br>Are you sure you want to continue?`,
            confirmText: "Delete",
            confirmButtonClass: "btn-danger",
            cancelText: "Cancel",
            onConfirm: function(){
                $("#deleteAccount").submit();
            }
        });
    }
</script>
