

{# <div class="m-2 p-2">
    External accounts connected to Life Monitor.
</div> #}

<div class="card-header">
    <h3 class="card-title"><b>Connected accounts</b></h3>
</div>

<div class="card-body p-1">
    <table class="table table-striped">
    <thead>
        <tr>
        <th style="width: 5px"></th>
        <th>Provider</th>
        <th style="width: 100px">User ID</th>
        <th style="width: 120px"></th>
        </tr>
    </thead>
    <tbody>
    {% for p in providers %}
        <tr>
        <td>{{ macros.render_provider_fa_icon(p, color="black") }}</td>
        <td>{{p.name}}</td>
        <td>{% if p.client_name in current_user.oauth_identity %}
            {{ current_user.oauth_identity[p.client_name].provider_user_id }}
            {% endif %}</td>
        {% if p.client_name in current_user.oauth_identity %}
        <td>
            {% if current_user.oauth_identity|length > 1 or current_user.has_password %}
            <a title="Click to unlink your '{{p.client_name}}' identity" onclick="disconnect('{{p.name}}', '{{p.client_name}}')">
                <span class="badge bg-success" style="width: 75px; margin-right: 5px;">CONNECTED</span>
                <i class="fas fa-link fa-xs" style="color: black;"></i>
            </a>
            {% else %}
            <span class="badge bg-success" style="width: 75px; margin-right: 5px;">CONNECTED</span>
            {% endif %}

        </td>
        {% else %}
        <td>            
            <a href="/oauth2/login/{{p.client_name}}" title="Click to link your '{{p.client_name}}' identity">
                <span class="badge bg-primary" style="width: 75px; margin-right: 5px;">CONNECT</span>
                <i class="fas fa-unlink fa-xs" style="color: black;"></i>                
            </a>
        </td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

{% if passwordForm %}
<br/><br/>
<div class="card-header">
    <h3 class="card-title"><b>Change Password</b></h3>
</div>

<div class="card-body">
    <div class="text-muted pt-2 pb-2">
    You{% if not current_user.has_password %} do not{% endif %}
    have a password set for your account. Use the form below to
    {% if not current_user.has_password %}set{% endif %}
    {% if current_user.has_password %}update{% endif %}
    your password.
    </div>
    <form method="POST" action="{{ url_for('auth.set_password') }}" >
    {{ passwordForm.hidden_tag() }}
    <div class="form-group">
        <label for="Password" class="col-form-label">Password</label>
        {{ macros.render_custom_field(passwordForm.password) }}
    </div>
    <div class="form-group">
        <label for="Repeat Password" class="col-form-label">Repeat password</label>
        {{ macros.render_custom_field(passwordForm.repeat_password) }}
    </div>
    <div class="form-group pt-5 text-center">
        <button type="submit" class="btn btn-primary text-bold" style="width: 120px">Update</button>
    </div>
    </form>
</div>
{% endif %}

<script>
    function disconnect(providerName, providerClientName){
        showInputDialog({
            //image: 'logo',
            iconClass: "fas fa-unlink",
            question: `Disconnect <br> '${providerName}' identity?`,
            description: `Your <b>'${providerName}'</b> identity will disconnected <br>from your account. Are you sure you want to continue?`,
            confirmText: "Disconnect",
            cancelText: "Cancel",
            onConfirm: function(){
                alert("ok");
                document.location.href = `/oauth2/logout/${providerClientName}`;
            }
        });
    }
</script>
