{% import 'auth/macros.j2' as macros %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}LifeMonitor{% endblock %}</title>
    
    <link rel="icon"href="{{ url_for('auth.static', filename='favicon.ico') }}" type="image/x-icon">
    
    {% block stylesheets %}    
      <!-- Google Font: Source Sans Pro -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
      <!-- Ionicons -->
      <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="{{ url_for('auth.static', filename='dist/plugins/fontawesome-free/css/all.min.css') }}">      
      <!-- SweetAlert2 -->
      <link rel="stylesheet" href="{{ url_for('auth.static', filename='dist/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css') }}">
      <!-- Toastr -->
      <link rel="stylesheet" href="{{ url_for('auth.static', filename='dist/plugins/toastr/toastr.min.css') }}">
      <!-- Tempusdominus Bootstrap 4 -->
      <link rel="stylesheet" href="{{ url_for('auth.static', filename='dist/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
      <!-- iCheck -->
      <link rel="stylesheet" href="{{ url_for('auth.static', filename='dist/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
      <!-- JQVMap -->
      <link rel="stylesheet" href="{{ url_for('auth.static', filename='dist/plugins/jqvmap-novulnerability/jqvmap.min.css') }}">
      <!-- overlayScrollbars -->
      <link rel="stylesheet" href="{{ url_for('auth.static', filename='dist/plugins/overlayscrollbars/css/OverlayScrollbars.min.css') }}">
      <!-- summernote -->
      <link rel="stylesheet" href="{{ url_for('auth.static', filename='dist/plugins/summernote/summernote-bs4.min.css') }}">
      <!-- Theme style -->      
      <link rel="stylesheet" href="{{ url_for('auth.static', filename='dist/css/lifemonitor.min.css') }}">      
  {% endblock stylesheets %}

</head>
<body class="hold-transition {% block body_class %}{% endblock body_class %}" 
      style="{% block body_style %}{% endblock body_style %}">  
  {% block body %}{% endblock %}  

  <!-- JS dependencies  -->
  {% block javascripts %}
    <!-- jQuery -->
    <script src="{{ url_for('auth.static', filename='dist/plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ url_for('auth.static', filename='dist/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- SweetAlert2 -->
    <script src="{{ url_for('auth.static', filename='dist/plugins/sweetalert2/sweetalert2.min.js') }}"></script>
    <!-- Toastr -->
    <script src="{{ url_for('auth.static', filename='dist/plugins/toastr/toastr.min.js') }}"></script>
    <!-- LifeMonitor JS -->
    <script src="{{ url_for('auth.static', filename='dist/js/lifemonitor.min.js') }}"></script>
  
    {# Enable notifications #}
    {{ macros.messages() }}

  {% endblock javascripts %}

</body>


