{% extends 'auth/base.j2' %}
{% import 'auth/macros.j2' as macros %}
{% block body %}
  <h1>Login on LifeMonitor</h1>
  <br><br>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ macros.render_field(form.username) }}
    {{ macros.render_field(form.password) }}
    <div class="buttons">
      <input type="submit" value="Log In">
    </div>
  </form>
  <p>OR</p>
  {% for p in providers %}
  <ul>
    <li><a href="/oauth2/login/{{p.name}}">Login with {{p.name.capitalize()}}</a></li>
  </ul>
  {% endfor %}
  <!--<p>If you want to create a new account, log in with a social provider or
    <a href="{{ url_for("auth.register") }}">go to the registration page</a>.
  </p>-->
{% endblock %}
