{% extends 'auth/base.j2' %}
{% import 'auth/macros.j2' as macros %}

{% block body_class %} login-page {% endblock %}
{% block body_style %} height: auto; {% endblock %}

{% block body %}

<div class="login-box" style="margin: 50px 0;">

  {{ macros.render_logo(class="login-logo", style="width: auto") }}

  <div class="card card-primary card-outline shadow-lg p-3 mb-5 bg-white rounded">

    <div class="card-body login-card-body">
      <h5 class="login-box-msg text-bold">Sign in</h5>

      <form method="POST">

        {{ form.hidden_tag() }}
        {{ macros.render_custom_field(form.username) }}
        {{ macros.render_custom_field(form.password) }}

        <div class="row">
          <div class="col-7">
            <div class="icheck-primary">
              <input type="checkbox" id="remember" />
              <label for="remember"> Remember Me </label>
            </div>
          </div>
          <div class="col-5">
            <button type="submit"
               class="btn btn-block btn-primary">
              Sign in
            </button>
          </div>
        </div>
      </form>

      <div class="social-auth-links text-center mb-3">

        <p>- OR -</p>

        {% for p in providers %}
          {% if p.client_name != 'lsaai' %}
          {{ macros.render_provider_signin_button(p) }}
          {% endif %}
        {% endfor %}

      </div>

      <div class="social-auth-links text-center mt-4">

        <p>- OR -</p>

        <a href="/oauth2/login/lsaai" class="btn btn-block">
           Sign in with <b>LifeScience</b>
          <img src="{{ url_for('auth.static', filename='img/logo/providers/lsaai-login.png')}}" style="max-width: 100%;"/>
        </a>        

      </div>

      <p></p>
      <p class="mb-0 text-center">
        Don’t have an account?
        <a href="{{ url_for("auth.register") }}" class="text-center">SignUp</a>
      </p>
    </div>
  </div>
</div>

{% endblock body %}