<!-- Profile Image -->
<div class="card card-primary card-outline">
    <div class="card-body box-profile">
    <div class="text-center">
        <a class="nav-item" href="#"
           onclick="updateCurrentView('accountsTab')">
        <img class="profile-user-img img-fluid img-circle"
            src="{{ current_user.picture or url_for('auth.static', filename='img/avatar/default-user-avatar.jpg') }}"
            alt="User profile picture">
        </a>
    </div>

    <h3 class="profile-username text-center">{{ current_user.username }}</h3>

    <p class="text-muted text-center">(id. {{ current_user.id }})</p>

    <ul class="nav nav-pills flex-column mb-4">
        <li class="nav-item">
            <a class="nav-link font-weight-bold" href="#"
               onclick="updateCurrentView('apiKeysTab')">
                API Keys
                <span class="float-right">{{ current_user.api_keys|length }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-weight-bold" href="#"
               onclick="updateCurrentView('oauth2ClientsTab')">
                OAuth Apps
                <span class="float-right">{{ current_user.clients|length }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-weight-bold" href="#">
                Workflows
                <span class="float-right">{{ current_user.workflows|length }}</span>
            </a>
        </li>
    </ul>

    <a href="{{ url_for("auth.logout") }}" class="btn btn-primary btn-block">
        <b>Log out</b>
    </a>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->