{% extends 'auth/base.j2' %}
{% import 'auth/macros.j2' as macros %}
{% block body_class %} login-page {% endblock %}
{% block body_style %}
  {% if current_user.is_authenticated %}
  height: auto;
  {% endif %}
  padding: 40px;
{% endblock %}


{% block body %}

{% if current_user.is_authenticated %}

  {{ macros.render_logo(style="max-width: 300px;", class="img-fluid logo text-center m-5") }}

   <!-- Main content -->
  <div class="container-fluid">

    <!-- OAuth2 Client Form -->
    <div class="clearfix">
    {% include 'auth/oauth2_client_pane.j2' %}
    </div>

    <div class="row">
      <div class="col-md-3">
        {% include 'auth/profile_card.j2' %}
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card card-primary card-outline">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" tab="accountsTab"
                    href="#accounts" data-toggle="tab">Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" tab="apiKeysTab"
                    href="#apikeys" data-toggle="tab">API Keys</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" tab="oauth2ClientsTab"
                    href="#oauthapps" data-toggle="tab">OAuth Apps</a>
              </li>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane" id="accounts">
                {% include 'auth/account_tab.j2' %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="apikeys">
                <!-- The timeline -->
                <div class="" style="margin-top: 20px;">
                  {% include 'auth/apikeys_tab.j2' %}
                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="oauthapps">
                <!-- The timeline -->
                {% include 'auth/oauth2_clients_tab.j2' %}
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
    <!-- /.content -->

{% else %}
  {{ macros.render_logo(style="width: 50%") }}
  <div style="padding: 50px;">
  <a class="btn btn-primary btn-lg" role="button" href="{{ url_for('auth.login') }}">Log in</a>
  </div>
{% endif %}
</div>


<script>
window.addEventListener("load", function(){
    // Initialize APIKeys
    initializeViewApiKeys(numberOfVisibleChars=15);

    // Initialize Oauth2ClientEditorPane
    oauth2ClientFormInit();

    // init current view
    let currentView = "{{ currentView | safe }}";
    updateCurrentView(currentView);
});
</script>
{% endblock %}
