{% extends 'auth/base.j2' %}
{% block body %}
<h1>Home</h1>
{% if current_user.is_authenticated %}
  <p>You are logged in as <strong>{{ current_user.username }}</strong>!</p>
  <ul>
    <li>
      You{% if not current_user.has_password %} do not{% endif %} have a password set for your account.
      {% if not current_user.has_password %}
        <a href="{{ url_for("auth.set_password") }}">Set a password</a>
      {% endif %}
    </li>
    <li>
      {% if current_user.oauth_identity["github"] %}
        You are <strong>{{ current_user.oauth_identity["github"].provider_user_id }}</strong> on GitHub.
      {% else %}
        You have not linked a GitHub account.
        <a href="/oauth2/login/github">Link GitHub account</a>
      {% endif %}
    </li>
    <li>
      {% if current_user.oauth_identity["seek"] %}
        You are <strong>{{ current_user.oauth_identity["seek"].provider_user_id }}</strong> on Seek.
      {% else %}
        You have not linked a Seek account.
        <a href="/oauth2/login/seek">Link Seek account</a>
      {% endif %}
    </li>
  </ul>
  <a href="{{ url_for("auth.logout") }}">Log out</a>
{% else %}
  You are not logged in.
  <a href="{{ url_for("auth.login") }}">Log in</a>
{% endif %}
{% endblock %}
