{% extends 'base.j2' %}
{% import 'macros.j2' as macros %}

{% block body_class %} sidebar-mini sidebar-open login-page h-100 {% endblock %}

{% block body %}

<div class="login-box" style="height: auto;">
 
  {{ macros.render_logo(class="login-logo", style="width: auto") }}
  
  <div class="card card-primary card-outline shadow-lg p-1 mb-5 bg-white rounded">      

    <div class="card-body login-card-body">
      {% if not identity %}
      <h5 class="login-box-msg text-bold m-0">Sign Up</h5>
      {% else %}
      <div class="text-center">
        <div class="small text-muted m-2">
         <div>
            Sign Up for <span style="font-style: italic; font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;">Life</span><span class="small" style="font-size: 75%; margin: 0 -1px 0 1px;">-</span><span style="font-weight: bold; font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;">Monitor</span>
          </div>
          <div class="m-n1">
            using your identity provided by
          </div>
        </div>
        {{ macros.render_provider_logo(identity.provider) }}
        <h5 class="login-box-msg text-bold mt-4" style="font-weight: lighter; font-size: 1.6em;">
          Hi, {{ identity.user_info.name or identity.user_info.preferred_username }}!
        </h5>
      </div>            
      <div class="mt-4 small text-muted" style="font-weight: lighter;">
        Choose a username for your LifeMonitor account:
      </div>
      {% endif %}

      <form method="POST" action="{{action}}" >
        {% if identity %}
        {{ form.identity(value=identity.user_info.sub) | safe }}        
        {% endif %}
        {{ macros.render_custom_field(form.username, value=user.username if user else "") }}
        {% if not identity %}
        {{ macros.render_custom_field(form.password) }}
        {{ macros.render_custom_field(form.repeat_password) }}
        {% endif %}
        {{ form.hidden_tag() }}

        <div class="text-center mb-3 row">            
          <div class="col-6">
            <a href="{{ url_for("auth.login") }}" class="btn btn-block btn-secondary">
            Back
            </a>          
          </div>
          <div class="col-6">
          <button type="submit"
              class="btn btn-block btn-primary">
            Register
          </button>         
          </div>
        </div>

      </form>

      {% if not identity %}
        <div class="social-auth-links text-center mb-3">        
          <p class="text-bold">- OR -</p>
          {% for p in providers %}
            {% if p.client_name != 'lsaai' %}
            {{ macros.render_provider_signup_button(p,not is_service_available(p.oauth_config['api_base_url'])) }}          
            {% endif %}
          {% endfor %}
        </div>
        <div class="social-auth-links text-center mt-4">
          <p class="text-bold">- OR -</p>
          {% for p in providers %}
            {% if p.client_name == 'lsaai' %}
            <a href="/oauth2/login/lsaai" 
              class="btn btn-block {% if not is_service_available(p.oauth_config['api_base_url']) %}disabled{% endif %}">
              Sign up with <b>{{p.name}}</b>
              <img src="{{ url_for('auth.static', filename='img/logo/providers/lsaai-register.png')}}" style="max-width: 100%;"/>
            </a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      <p></p>
      {% if not identity %}
      <p class="mb-0 text-center pt-3 p-2">
        <div class="h6 login-msg text-center text-bold">Already have an account? </div>
        <div class="text-center">
          Rather than creating a new account, we strongly recommend 
          that you <a href="{{ url_for("auth.login") }}" class="text-center">Sign In</a>
          with your existing credentials and link your new identity 
          <a href="{{ url_for("auth.profile") }}">from the account configuration page</a>        
        </div>
      </p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock body %}