{% extends 'auth/base.j2' %}
{% import 'auth/macros.j2' as macros %}

{% block body_class %} sidebar-mini sidebar-open login-page {% endblock %}

{% block body %}

<div class="login-box">
 
  {{ macros.render_logo(class="login-logo", style="margin-left: -10px; width: auto") }}
  
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
   
    <div class="card-body login-card-body">
      <h5 class="login-box-msg text-bold">Change password</h5>

      <form method="POST" action="/set_password" >
        {{ form.hidden_tag() }}
        {{ macros.render_custom_field(form.password) }}
        {{ macros.render_custom_field(form.repeat_password) }}        

        <div class="text-center mb-3">            
          <button type="submit"
              class="btn btn-block btn-primary">
            Save
          </button>          
        </div>
      </form>
      <br/>
      <div class="text-center mb-3">            
        <a href="{{ url_for("auth.profile") }}">Cancel</a>
      </div>

    </div>
  </div>
</div>

{% endblock body %}