# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.sync
.idea
.vscode
.cache
.local
.bash_history
.bash_logout
.bashrc
.ipynb_checkpoints
.ipython
.profile
.python_history
instance
*env
**/__pycache__
**/.npm
*.pyc
./certs
**/node_modules
backups
data
lifemonitor/static/dist
lifemonitor/static/src/node_modules
docker-compose.yml
.*docker-compose.yml
utils/certs/data
tests/config/data/crates/*.zip
tests/config/registries/seek/data
