# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea
.vscode
.cache
.local
.bash_history
.bash_logout
.bashrc
.ipynb_checkpoints
.ipython
.profile
.python_history
instance
*env
**/__pycache__
**/.npm
*.pyc
./certs
**/node_modules
lifemonitor/static/dist
docker-compose.yml
utils/certs/data
tests/config/data/crates/*.zip
tests/config/registries/seek/data
