---
---

@import "{{ site.theme }}";

/*
Override the bold fond-weight when hovering over links as it frequently makes the
text move.
*/
a:hover, a:focus {
    font-weight: normal;
}

/*
Override static width settings.
*/
.wrapper {
  width: 100%;
}

section {
  width: 70%;
}

header {
  width: 30%;
  max-width: 270px;
}
