apiVersion: v1
kind: Service
metadata:
  name: {{ include "chart.fullname" . }}-backend
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  type: {{ .Values.lifemonitor.service.type }}
  ports:
    - port: {{ .Values.lifemonitor.service.port }}
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    {{- include "chart.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: backend

---

apiVersion: v1
kind: Service
metadata:
  name: {{ include "chart.fullname" . }}-wss
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  type: {{ .Values.lifemonitor.service.type }}
  ports:
    - port: 8001
      targetPort: 8001
      protocol: TCP
      name: wss
  selector:
    {{- include "chart.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: wss

---

