<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% seo %}
    <!-- include bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Add custom css -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
</head>
<body>
    <div class="row">
        <div class="col-sm-12 col-md-3 header fixed-top">
            <div class="">
                <div class="logo">
                    <a href="{{ " /" | absolute_url }}" title="{{ site.title | default: site.github.repository_name }}">
                        {% if site.logo %}
                        <img width="70%" src="{{site.logo | relative_url}}" alt="LifeMonitor Logo" />
                        {% endif %}
                    </a>
                </div>

                <p>{{ site.description | default: site.github.project_tagline }}</p>

                {% if site.show_downloads %}
                <ul class="downloads">
                    <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
                    <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
                    <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
                </ul>
                {% endif %}
            </div>
            <div class="toc">
                <div class="toc-title">Table of contents:</div>
                <ul>
                    <li><a href="getting_started">Getting started</a></li>
                    <li><a href="lm_api_specs">REST API</a></li>
                    <li><a href="restish-cli">Using the API via CLI</a></li>
                    <li><a href="lm_admin_guide">Administration Guide</a></li>
                    <li><a href="workflow_testing_ro_crate">Workflow Testing RO-crate specification</a></li>
                </ul>
            </div>
            <div class="footer">
                {% if site.github.is_project_page %}
                <div class="view row">
                    <div>
                        <a href="{{ site.github.repository_url }}"></a>
                        <img src="images/github-icon-white.png" width="50px" alt="Github Repository" />
                            <div class="float-right m-2">
                                View the Project on GitHub<br />
                                <small>{{ site.github.repository_nwo }}</small>
                            </div>
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if site.github.is_user_page %}
                <div class="view">
                    <a href="{{ site.github.owner_url }}">View My GitHub Profile</a>
                </div>
                {% endif %}
                {% if site.github.is_project_page %}
                <div>
                    <small>This project is maintained by
                        <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
                    </small>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="section col-sm-12 ml-auto col-md-9">

            {{ content }}

        </div>
    </div>
    <!-- <script src="{{ " /assets/js/scale.fix.js" | relative_url }}"></script> -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
